
{% extends 'base.html' %}

{% block content%}


    <h2>{{ restaurant.name }}</h2>

    <h4>Reviews:</h4>
    <ul>
        {% for review in restaurant.reviews %}
            <li>{{ review.text }} - {{ review.reviewer.username }}</li>
        {% endfor %}
    </ul>
    <br>
    <h4>Add new review:</h4>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.review.label }}
            {{ form.review(size=50) }}
        </p>
        <p>
            {{ form.rating.label }}
            {{ form.rating(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


{% endblock %}