
{% extends 'base.html' %}

{% block content%}


<h2>{{ restaurant.name }} Average Rating: {{ restaurant.avg_rating }}</h2>
<h4>Cuisine: {{ restaurant.cuisine }}</h4>

    <div class="row">
        <div class="column">
            <table>
                <tr>
                    <th class="header" colspan="3">Reviews</th>
                </tr>
                <tr>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Reviewer</th>
                </tr>

                {% for review in restaurant.reviews %}
                <tr>
                    <td>{{ review.text }}</td>
                    <td>{{ review.rating }}</td>
                    <td>{{ review.reviewer.username }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <br>


    <h4>Add new review:</h4>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.review.label }}
            {{ form.review(size=50) }}
        </p>
        <p>
            {{ form.rating.label }}
            {{ form.rating(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>



{% endblock %}